<!DOCTYPE html>
<html>
<head>
  <title>Registrierung</title>
</head>
<body>
<h1>Registrieren</h1>

<form action="/register" method="post">
  <label>Vorname: <input type="text" name="vorname" required></label><br>
  <label>Nachname: <input type="text" name="nachname" required></label><br>
  <label>Email: <input type="email" name="email" required></label><br>
  <label>Passwort: <input type="password" name="passwort" required></label><br>
  <button type="submit">Registrieren</button>
</form>
<p>Bereits registriert? <a href="/login">Hier einloggen</a></p>

</body>
</html>
